<% @posts.each do |post| %>
<br>
    <div class='well'>
        <div class='card' >
            <div class='card-body'>
                <h3 class='card-title'><%= post.title %></h3>
                <div class='card-text'>
                    <p><%= post.body %></p>
                </div>
                <hr>
                <div class='card-text'>
                     <%= link_to 'Read More', post_path(post), :class=>'btn btn default' %>
                </div>
            </div>
        </div>
    </div>
<% end %>
  